.btn{
  
    border-radius: 30%;
    border-width: 0;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
   
    cursor: pointer;
    display: inline-block;
    // font-family: Arial,sans-serif;
    font-size: 1em;
    height: 50px;
    // width: 40px;
    padding: 0 25px;
    transition: all 200ms;
    &-primary{
      color: green;
      background-color: #c2fbd7;
    }
    &-warning{
      color: rgb(68, 71, 22);
      background-color: rgb(203, 214, 52);
    }
    &-danger{
      color: rgb(228, 22, 39);
      background-color: #d1a2a2;
    }
}