<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Imagen
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Categoria
            </th>
            <th>
                P.V.P
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                imagen
            </td>
            <td>
                coca cola
            </td>
            <td>
                bebidas
            </td>
            <td>
                12
            </td>

        </tr>
    </tbody>
</table>