<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="openModal('Crear')">Crear
    Producto</button>
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Imagen
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Categoria
            </th>
            <th>
                P.V.P
            </th>

            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="colum__size2">
                {{product.ProductID}}
            </td>
            <td class="colum__size">
                <img class="img__container" src="https://sistema.laterneraec.com/{{product.Imagen}}" alt="">

            </td>
            <td>
                {{product.Descripcion}}
            </td>
            <td>
                {{product.Category.Categoria}}
            </td>
            <td class="colum__size">
                {{product.PrecioVenta | currency}}
            </td>

            <td style="width:200px;"><button (click)="openModal('Editar',product)" class="btn btn-warning mr-2"><i
                        class="fas fa-pencil"></i></button> <button class="btn btn-danger"><i
                        class="fas fa-trash"></i></button></td>
        </tr>

    </tbody>
</table>

<div class="col-12">
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="hasta" [rotate]="true" [maxSize]="5"
        [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
        [customFirstTemplate]="firstTemplate" [customLastTemplate]="lastTemplate" [customNextTemplate]="nextTemplate"
        [customPreviousTemplate]="prevTemplate">
    </pagination>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-control-end'></i>
</ng-template>

<ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-control-start'></i>
</ng-template>